<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Auth0</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="active" routerLink="/home">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/precios">Precios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/protegida">Protegido</a>
        </li>
      </ul>
    </div>
    <form class="d-flex" role="search">
        <button *ngIf="(auth.isAuthenticated$ | async) === false" class="btn btn-outline-success" (click)="login()">Iniciar sesion</button>
        <button *ngIf="(auth.isAuthenticated$ | async) === true" class="btn btn-outline-danger" (click)="logout()">Salir de la sesion</button>
    </form>
  </nav>
  
