

<div class="container d-flex justify-content-center align-items-center animate__animated animate__fadeIn" *ngIf="heroe" >
    <div class="col-md-4">
        <img [src]="heroe.img" alt="{{ heroe.nombre }}" class="img-thumbnail">
        <hr>
        <p><strong>Nombre:</strong> {{ heroe.nombre }}</p>
        <hr>
        <p>{{heroe.bio}}</p>
        <hr>
        <div *ngIf="heroe.casa === 'Marvel'">
            <img src="../../../assets/img/Marvel.png" alt="Marvel" class="img-thumbnail">
        </div>
        <div *ngIf="heroe.casa === 'DC'">
            <img src="../../../assets/img/DC.png" alt="DC" class="img-thumbnail">
        </div>
        <hr>
        <p><strong>Aparición:</strong> {{ heroe.aparicion }}</p>
        <div>
            <a href="javascript:history.back()" class="btn btn-secondary">Regresar</a>
        </div>
    </div>
</div>
