
<section>
    <div class="container mt-4">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="../../../assets/img/marvel.jpg" class="img-fluid" />
                        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)"></div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Historia de Marvel</h5>
                        <p class="card-text">
                            Marvel Comics es el nombre comercial y la principal impresión de Marvel Worldwide Inc., anteriormente Marvel Publishing, Inc. y Marvel Comics Group, una editorial de cómics americanos y medios relacionados. En 2009, The Walt Disney Company adquirió Marvel Entertainment, la compañía matriz de Marvel Worldwide.
                        </p>
                        <p class="card-text">
                            Marvel comenzó en 1939 como Timely Publications, y para principios de los años 1950, generalmente se conocía como Atlas Comics. La encarnación moderna de Marvel data de 1961, año en que la compañía lanzó Los Cuatro Fantásticos y otros títulos de superhéroes creados por Steve Ditko, Stan Lee, Jack Kirby y muchos otros.
                        </p>
                        <p class="card-text">
                            Marvel cuenta entre sus personajes con propiedades muy conocidas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="carouselMarvel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselMarvel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselMarvel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselMarvel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../../assets/carrusel/black-panther.jpg" class="d-block w-100 carousel-image" alt="Marvel Image 1">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/carrusel/capitana-marvel-poster.jpg" class="d-block w-100 carousel-image" alt="Marvel Image 2">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/carrusel/guardianes-de-la-galaxia.jpg" class="d-block w-100 carousel-image" alt="Marvel Image 3">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselMarvel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselMarvel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>          
        <div class="card">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Historia de DC</h5>
                        <p class="card-text">
                            DC Comics, Inc. es un editor de cómics americano. Es la unidad editorial de DC Entertainment, una subsidiaria de Warner Bros. Global Brands and Experiences. DC Comics es una de las compañías de cómics americanas más grandes y antiguas.
                        </p>
                        <p class="card-text">
                            La mayoría de sus publicaciones tienen lugar dentro del ficticio Universo DC y presentan numerosos personajes heroicos culturalmente icónicos, destacando principalmente a Superman, Batman y otros personajes.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="../../../assets/img/DC.jpg" class="img-fluid" />
                        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</section>
