<h1><small> Marvel y DC</small></h1>
<hr>
<div class="row row-cols-1 row-cols-md-3 g-4 animate__animated animate__fadeInLeft">
  <div class="col" *ngFor="let hero of heroes; let i = index">
    <div class="card h-100">
      <img src="{{ hero.img }}" class="card-img-top" alt="{{ hero.nombre }}">
      <div class="card-body">
        <h5 class="card-title">{{ hero.nombre }}</h5>
        <p class="card-text">{{ hero.bio }}</p>
        <hr>
        <p class="card-text"><small class="text-muted">{{ hero.casa }}</small></p>
        <hr>
        <p class="card-text"><small class="text-muted">{{ hero.aparicion }}</small></p>
        <button type="button" class="btn btn-primary" (click)="verHeroe(i)">Ver más</button>
      </div>
    </div>
  </div>
</div>

